body {
    font-family: 'Arial','Courier','Yu Gothic','メイリオ','游ゴシック体';
}

.input-lp {
    padding-left: 0.5em;
}

.msg-frame{
    padding: 12px 12px 12px 12px;
}

.content-frame{
    padding: 12px 12px 12px 12px;
}
