/*
    HTMセルWindows Formっぽいダイアログ
    © 2022 Hiromichi Yoneda
*/

.xxxDialog {
    padding: 0;
    border: 0;
    box-shadow: 7px 7px 7px dimgray;
    width: 350px;
}

.xxxDialogTitle {
    padding: 0.3em 0.6em 0.3em 0.6em; /* 上 右 下 左 */
    background-color: skyblue;
}

.xxxDialogMsg{
    padding-left: 10px;
}
.xxxDialogButton{
    border-style: solid;
    border-width: 1px;
    padding: 5px 12px 5px 12px;
    box-shadow: 2px 2px 2px dimgray;
    margin-right: 10px
}

.xxxDialogFrame{
    padding: 12px 12px 12px 12px;
}

.xxxDialogMsgArea {
    display: flex;
    justify-content: flex-start;
    
}

.xxxDialogDefaultCancel {
    display: block;
    position: relative;
    width: 23px;
    height: 23px;
    float: right;  /* 右寄せ */
}
.xxxDialogDefaultCancel::before, .xxxDialogDefaultCancel::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px; /* 棒の幅（太さ） */
    height: 23px; /* 棒の高さ */
    background: #333; /* バツ印の色 */
}
.xxxDialogDefaultCancel::before {
    transform: translate(-50%,-50%) rotate(45deg);
}

.xxxDialogDefaultCancel::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
